<% provide(:title, "About") %>

<h1>About</h1>

<p>
	This is newest social network made for people not really into social networks, but still wanting to be part of one. For all those (I had to google to see if "those" is the right word I am seeking) being constantly asked are they using some social network, but not being fan of popular networks such as facebook, twitter, or instagram, finally you can say yes. You can add pictures, write inspirational quotes, or maybe write some non-inspirational text. Bottom line is that no one is going to read it any time soon. Page is unindexed, so probability of someone finding this page, other then sharing its link, is rather small, next to nothing. Also you can't send any personal messages, so nobody will bother you. But if there are many microposts asking for its implementation, it might be added later on.*
</p>
<p>
	Also I would like to add that this page is result of working on Rails tutorial, provided by Rails Guru Michael Hartl. More of insight into making web apps like this you can find at following links.
	<br>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>
<br>
<br>
<br>
<p>
	*later on as in when I learn it, since it's something beyond reaches of my knowledge aka too lazy to figure it out
</p>